html{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--orange);
}

body{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    min-height: 100vh;
}

/* Background image and "illustration" */

.backgroundImage{
    /* Image will scale auto */
    width: 100%;
    height: auto;

    /* Max width so image does not stretch */
    max-width: 1500px;

    /* position: relative; */

    /* Put image in the background */
    z-index: 2;

    /* Fix position because I need it under the navigation 
    but over the footer so the image cut out fits */
    margin-top: -60px;

    /* Animation for image to come in from right ot left */
    animation: fadeIn 1s;
}


.imageContainer{
    /* width: auto;
    display: flex;
    justify-content: end;
    overflow: visible; */
}

.backgroundColor{
    /* background-color: #7afbb4;
    height: 100%;
    width: 500px;
    border-right: 10px dashed #51a57771;
    -moz-transform: skew(30deg);
    -webkit-transform: skew(30deg);
    transform: skew(30deg);
    position: absolute;
    z-index: 1;
    top: -50px;
    left: 1000px; */
}

@keyframes fadeIn {
    0% { opacity: 0; right: -50px; }
    100% { opacity: 1; right: 0px; }
}

/* Content */

.dendroImage{
    /* height: 45px;
    width: auto;
    padding-left: 10px;
    padding-bottom: 10px; */
}

.headingContainer{
    /* display: flex;
    align-items: center; */
}

.mainContainer{
    /* position: absolute;
    z-index: 1;
    top: 100px;
    background-color: transparent; */
}

.characterInfoContainer{
    /* padding-left: 100px;
    padding-top: 100px;
    max-width: 700px;
    background-color: transparent; */
}

.characterInfoContainer > div > h1{
    /* padding-bottom: 10px;
    font-weight: 800;
    font-size: 50px;
    color: var(--fontDark); */
}

.characterInfoContainer > p {
    /* font-size: 25px;
    font-weight: 400;
    color: var(--fontDark); */
}

.voiceInfoContainer{
    /* padding-left: 100px;
    padding-top: 50px; */
}

.voiceInfoContainer > p {
    /* font-size: 18px;
    font-weight: 400;
    padding-top: 5px;
    height: 30px;
    color: var(--fontDark); */
}

.quoteContainer{
    /* max-width: 700px;
    padding-top: 100px;
    padding-left: 150px;
    text-align: center; */
}

.quoteContainer > p{
    /* font-size: 40px;
    font-weight: 600;
    color: var(--fontDark);
    border-left: #62db9d solid 10px;
    padding-left: 15px; */
}

